<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="test">
		
		 <!-- <property name="hibernate.multiTenancy">SCHEMA</property>
         	<property name="hibernate.tenant_identifier_resolver">com.model.multitenant.SchemaResolver</property>
            <property name="hibernate.multi_tenant_connection_provider">com.model.multitenant.MultiTenantProvider</property> -->
		 
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	 	<property name="hibernate.connection.password">mysql</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school</property>
		<property name="hibernate.connection.username">root</property>
		
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	 	<property name="hibernate.connection.password">cmuursaiuibm@123#</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bie</property>
		<property name="hibernate.connection.username">root</property> -->
		
		
		<!-- <property name="hibernate.default_schema">school</property> -->
        <!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
            
		<!-- <property name="hibernate.connection.password">schoolschool</property>
		<property name="hibernate.connection.url">jdbc:mysql://118.67.248.230:3306/schoolschool?sessionVariables=wait_timeout=3600</property>
		<property name="hibernate.connection.username">schoolschool</property>
		<property name="hibernate.default_schema">schoolschool</property>
		 -->
		<property name="Hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<!-- <mapping class="com.model.user.dto.Login"/> -->
		<mapping resource="com/model/user/dto/Login.hbm.xml"></mapping>
		<mapping resource="com/model/parents/dto/Parents.hbm.xml"></mapping>
		<mapping resource="com/model/student/dto/Student.hbm.xml"></mapping>
		<mapping resource="com/model/std/dto/Classsec.hbm.xml"></mapping>
		<mapping resource="com/model/feescategory/dto/Feescategory.hbm.xml"></mapping>
		<mapping resource="com/model/department/dto/Department.hbm.xml"></mapping>
		<mapping resource="com/model/position/dto/Position.hbm.xml"></mapping>
		<mapping resource="com/model/employee/dto/Teacher.hbm.xml"></mapping>
		<mapping resource="com/model/feescollection/dto/Feescollection.hbm.xml"></mapping>
		<mapping resource="com/model/feesdetails/dto/Feesdetails.hbm.xml"></mapping>
		<mapping resource="com/model/adminexpenses/dto/Adminexpenses.hbm.xml"></mapping>
		<mapping resource="com/model/academicyear/dto/Currentacademicyear.hbm.xml"></mapping>
		<mapping resource="com/model/subjectdetails/dto/Subject.hbm.xml"></mapping>
		<mapping resource="com/model/marksdetails/dto/Marks.hbm.xml"></mapping>
		<mapping resource="com/model/examdetails/dto/Exams.hbm.xml"></mapping>
		<mapping resource="com/model/stampfees/dto/Academicfeesstructure.hbm.xml"></mapping>
		<mapping resource="com/model/student/dto/Studentfeesstructure.hbm.xml"></mapping>
		<mapping resource="com/model/attendance/dto/Holidaysmaster.hbm.xml"></mapping>
		<mapping resource="com/model/attendance/dto/Weeklyoff.hbm.xml"></mapping>
		<mapping resource="com/model/attendance/dto/Attendancemaster.hbm.xml"></mapping>
		<mapping resource="com/model/attendance/dto/Studentdailyattendance.hbm.xml"></mapping>
		<mapping resource="com/model/attendance/dto/Staffdailyattendance.hbm.xml"></mapping>
		<mapping resource="com/model/feescollection/dto/Receiptinfo.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Financialaccountingyear.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Accountgroupmaster.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Accountsubgroupmaster.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Accountdetails.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Accountdetailsbalance.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Receipttransactions.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Paymenttransactions.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Contratransactions.hbm.xml"></mapping>
		<mapping resource="com/model/account/dto/Journaltransactions.hbm.xml"></mapping>
		<mapping resource="com/model/documents/dto/Transfercertificate.hbm.xml"></mapping>
		<mapping resource="com/model/examdetails/dto/Examschedule.hbm.xml"></mapping>
		<mapping resource="com/model/periods/dto/Perioddetails.hbm.xml"></mapping>
		<mapping resource="com/model/periods/dto/Periodmaster.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Leavetypemaster.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Leavedetails.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Payhead.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Payheadstaffdetails.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Paybasic.hbm.xml"></mapping>	
		<mapping resource="com/model/hr/dto/Pf.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Payadvancesalary.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Leaveapplication.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Processsalarydetails.hbm.xml"></mapping>
		<mapping resource="com/model/hr/dto/Processsalarydetailsheads.hbm.xml"></mapping>
		<mapping resource="com/model/branch/dto/Branch.hbm.xml"></mapping>
		<mapping resource="com/model/branch/dto/Districts.hbm.xml"></mapping>
		<mapping resource="com/model/examlevels/dto/Examleveldetails.hbm.xml"></mapping>
		<mapping resource="com/model/language/dto/Language.hbm.xml"></mapping>
		<mapping resource="com/model/qualification/dto/Qualification.hbm.xml"></mapping>
		<mapping resource="com/model/examlevels/dto/Subexamlevel.hbm.xml"></mapping>
		<mapping resource="com/model/referencebooks/dto/Referencebooks.hbm.xml"></mapping>
		<mapping resource="com/model/std/dto/Classhierarchy.hbm.xml"></mapping>
		<mapping resource="com/model/employee/dto/Organizersdetails.hbm.xml"></mapping>
		<mapping resource="com/model/order/dto/Books.hbm.xml"></mapping>
		<mapping resource="com/model/order/dto/Orderssummary.hbm.xml"></mapping>
		<mapping resource="com/model/order/dto/Ordersdetails.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>
